
<div id="page" style="height:500px">
  <!-- Wrapper -->
  <div class="wrapper">
    <!-- Left column/section -->
    <section class="column width6 first">

      <h3>查看在线报名</h3>


      <fieldset>
        <legend>查看在线报名</legend>

        <p>
          <label class="required" for="name">名字</label><br/>
          <%= @apply.name %>
        </p>

        <p>
          <label class="required" for="name">邮箱</label><br/>
          <%= @apply.email %>
        </p>
        <p>
          <label class="required" for="name">电话</label><br/>
          <%= @apply.phone %>
        </p>
        <p>
          <label class="required" for="name">qq</label><br/>
          <%= @apply.qq %>
        </p>
         <p>
          <label class="required" for="name">留言</label><br/>
          <%= @apply.memo %>
        </p>

      </fieldset>
      <%= link_to '返回', applies_path %>
  </div>
  <!-- End of Wrapper -->
</div>


