<p id="notice"><%= notice %></p>

<p>
  <b>Chind name:</b>
  <%= @question_basis.chind_name %>
</p>

<p>
  <b>Child sex:</b>
  <%= @question_basis.child_sex %>
</p>

<p>
  <b>Child age:</b>
  <%= @question_basis.child_age %>
</p>

<p>
  <b>Child guardian:</b>
  <%= @question_basis.child_guardian %>
</p>

<p>
  <b>Child time:</b>
  <%= @question_basis.child_time %>
</p>

<p>
  <b>Child interest:</b>
  <%= @question_basis.child_interest %>
</p>

<p>
  <b>Child evaluate:</b>
  <%= @question_basis.child_evaluate %>
</p>

<p>
  <b>Child body ok:</b>
  <%= @question_basis.child_body_ok %>
</p>

<p>
  <b>Child body msg:</b>
  <%= @question_basis.child_body_msg %>
</p>

<p>
  <b>Child target:</b>
  <%= @question_basis.child_target %>
</p>


<%= link_to 'Edit', edit_question_basis_path(@question_basis) %> |
<%= link_to 'Back', question_bases_path %>
