<%= form_for(@question_detail) do |f| %>
  <% if @question_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question_detail.errors.count, "error") %> prohibited this question_detail from being saved:</h2>

      <ul>
      <% @question_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question_categorie_id %><br />
    <%= f.text_field :question_categorie_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_area :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
