<%= form_for(@question_result_detail) do |f| %>
  <% if @question_result_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question_result_detail.errors.count, "error") %> prohibited this question_result_detail from being saved:</h2>

      <ul>
      <% @question_result_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question_detail_id %><br />
    <%= f.text_field :question_detail_id %>
  </div>
  <div class="field">
    <%= f.label :question_result_id %><br />
    <%= f.text_field :question_result_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
