<script type="text/javascript">
$(document).ready(function(){
var validator = $("#new_question_result_detail").validate({

    rules: {

      "question_result_detail[answer_num]" : "required"
    },

    messages: {

      "question_result_detail[answer_num]" : "请选择选项"
    },

    // the errorPlacement has to take the layout into account

    errorPlacement: function(error, element) {

      error.insertAfter($("h3"));

    },

    // specifying a submitHandler prevents the default submit, good for the demo

    submitHandler: function() {

      document.getElementById("new_question_result_detail").submit();
    },

    // set new class to error-labels to indicate valid fields

    success: function(label) {

      // set &nbsp; as text for IE

      label.html("&nbsp;").addClass("ok");

    }

  });




});

</script>



   <%#detail_num = @question_result.get_question_detail_ids.choice%>
   
   <%total_num = @question_result.get_question_detail_ids.length%>
   <%now_num = @question_num ? @question_num : 0%>
   <%detail_num = @question_result.get_question_detail_ids[now_num]%>

<%detail = QuestionDetail.find(detail_num)%>

<% @question_result_detail_now = QuestionResultDetail.find_by_question_detail_id_and_question_result_id(detail.id,@question_result.id)%>
<%@question_result_detail_now = QuestionResultDetail.new if @question_result_detail_now==nil%>
<%@question_result_detail = QuestionResultDetail.new %>
<%@question_result_detail.question_detail_id = detail.id%>
<%@question_result_detail.question_result_id = @question_result.id%>
<div id="page" style="height:500px">
  <!-- Wrapper -->
  <div class="wrapper">
    <!-- Left column/section -->
    <section class="column width6 first">

      <h3><%=detail.name%></h3>

     <%= simple_form_for(@question_result_detail) do |f| %>
      <%= f.text_field :question_detail_id,:style=>"display:none" %>
        <%= f.text_field :question_result_id,:style=>"display:none" %>
             <input name="question_num" value="<%= @question_num ? @question_num : 0%>" style="display:none" />
        <input name="is_last" id= "is_last" value="0" style="display:none"/>
        <fieldset>
          <legend> <%if now_num+1 == total_num%>
            当前为最后一题
            <%else%>
            还有<%=total_num - now_num -1%>题
            <%end%></legend>
          <p>
            <input type="radio" name="question_result_detail[answer_num]"
          value="0" <%if @question_result_detail_now.answer_num==0%> checked<%end%>/><%=detail.a_secect%>
          </p>
          <p>
            <input type="radio" name="question_result_detail[answer_num]"
          value="1" <%if @question_result_detail_now.answer_num==1%> checked<%end%>/><%=detail.b_secect%>
          </p>
          <p>
            <input type="radio" name="question_result_detail[answer_num]"
          value="2" <%if @question_result_detail_now.answer_num==2%> checked<%end%>/><%=detail.c_secect%>
          </p>
          <p>
            <input type="radio" name="question_result_detail[answer_num]"
          value="3" <%if @question_result_detail_now.answer_num==3%> checked<%end%>/><%=detail.d_secect%>
          </p>
          <p>
            <input type="radio" name="question_result_detail[answer_num]"
          value="4" <%if @question_result_detail_now.answer_num==5%> checked<%end%>/><%=detail.e_secect%>
          </p>
          <p class="box">
           <%if @question_num and @question_num >0%>
             <input id = "last" type="submit"  class="cancel btn btn-green big" value="上一题"/>
          <%end%>
            <input type="submit" class="btn btn-green big" value="下一题"/>
          </p>


        </fieldset>

     <%end%>
  </div>

  <!-- End of Wrapper -->
</div>
<script type="text/javascript">

$("#last").click(function(){

$("#is_last").attr("value",1);
})
</script>