<div id="content">
<%=  render "common/left"%>


<div id="right">
<div class="activity_top">
<div class="activity_title"><img src="/image/activity/act_10.jpg"><span><%=@forum.name%></span></div>
<div class="activity_location"> <%=forum_tab @forum%></div>
<div class="activity_line"><img src="/image/activity/act_01.jpg"></div>
</div>

<div class="inside_content">
<h3><%=@article.title%></h3>
<div class="inside_from">发布时间：<span><%=@article.updated_at.strftime("%Y-%m-%d")%></span>&nbsp;&nbsp; &nbsp; &nbsp;来源：小船长网站&nbsp;&nbsp; &nbsp; &nbsp;作者：<%=@article.author%></div>
<div class="inside_text">
 <%=raw @article.context%>
</div>
</div>

 <% re_articles = Article.find(:all,:conditions=>["(forum_id = ? or first_forum_id = ? ) and id !=#{@article.id}",@article.forum_id,@article.first_forum_id],:limit=>3) %>
<div class="inside_theme">
<div class="theme_title"><span>相关主题...</span></div>
<ul class="theme_list">
  <%re_articles.each do |a|%>
  <li><a href="/homes/articles/<%=a.id%>"><%=a.title%></a>
    <div class="theme_data"><%=a.updated_at.strftime("%Y-%m-%d")%></div>
  </li>
  <%end%>
</ul>
</div>



</div>

</div>