<div id="content">
<div id="banner">
<div class="banner_pic">
  <%index = Forum.find_by_code("index")%>
  <%if index and index.picture1 and index.picture1!=""%>
  <%= image_tag(index.picture1,:width=>754,:hieght=>186)%>
  <%else%>
  <img src="/image/index/index_03.jpg">
  <%end%>
</div>
<div class="login">
<div class="login_title">会员登录<span>Login</span></div>
<table>
  <tbody><tr>
    <td width="60">用户名：</td>
    <td><input name="" type="text"></td>
  </tr>
  <tr>
    <td width="60">密 码：</td>
    <td><input name="" type="text"></td>
  </tr>
</tbody></table>
<div class="login_button"><input class="button01" name="" type="button" value="登 录"><input class="button02" name="" type="button" value="注 册"></div>

</div>
</div>

<div id="index_left">
<div class="focus"><img src="/image/index/index_07.jpg"></div><!--焦点图 -->

<div class="news">
<div class="learing">
<div class="learing_title">
  <%ketang=Forum.find_by_code("ketang")%>
  <div class="title_X"><%=ketang.name%></div><a href="/homes/forums/<%=ketang.id%>">更多<img src="/image/index/index_12.jpg" border="0"></a></div>
<ul class="learning_content">
<%ketang.articles_father.limit(5).each do |a|%>
<li><span>【<%=a.small_title%>】</span>
  <%= link_to a.title, "/homes/articles/#{a.id}",:target=>"_blank",:title=>a.title %>
</li>
<%end%>
</ul>
</div>

<div class="learing">
<div class="learing_title">
<%yuandi=Forum.find_by_code("xuexiyuandi")%>
  <div class="title_X">学习园地</div><a href="/homes/forums/<%=yuandi.id%>">更多<img src="/image/index/index_12.jpg" border="0"></a></div>
<ul class="learning_content">
<%yuandi.articles_father.limit(5).each do |a|%>
<li><span>【<%=a.small_title%>】</span>
  <%= link_to a.title, "/homes/articles/#{a.id}",:target=>"_blank",:title=>a.title %>
</li>
<%end%>
</ul>
</div>
</div>

</div>


<div id="index_right">
<div class="right_activity">
<div class="activity_title"><%=Forum.find_by_code("huodong").name%><span>What's On</span></div>
<ul class="activity_content">
  <%huodong_index = Forum.find_by_code("huodong")%>
  <%huodong_index.articles_father.limit(5).each do |a|%>
<li><span>【<%=a.small_title%>】</span>
  <%= link_to a.title, "/homes/articles/#{a.id}",:target=>"_blank",:title=>a.title %>
</li>
<%end%>
</ul>
</div>

<div class="right_weibo">
<div class="weibo_title">微博互动<span>Interactive</span></div>
<div class="weibo_content">
<div class="weibo_pic"><img src="/image/index/index_02.jpg"></div>
<div class="weibo_text">
<table>
  <tbody><tr>
    <td><span>小船长教育</span></td>
    <td>浙江杭州</td>
  </tr>
  <tr>
    <td colspan="2"><wb:follow-button uid="<%=@web_info.weibo%>" type="red_1" width="136" height="24" ></wb:follow-button></td>
    </tr>
</tbody></table>

</div>
</div>
</div>

</div>
</div>