<table width="1200" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td><img src="/images/spacer.gif" width="97" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="220" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="30" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="114" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="169" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="226" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="229" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="20" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="95" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="1" height="1" border="0" alt=""></td>
  </tr>
<tr>
   <td rowspan="3"><img name="kecheng_r2_c1" src="/images//kecheng_r2_c1.jpg" width="97" height="287" border="0" id="kecheng_r2_c1" alt="" /></td>
   <td rowspan="3">

<%=  render "common/left"%>
  </td>
   <td colspan="2"><img name="kecheng_r2_c3" src="/images//kecheng_r2_c3.jpg" width="144" height="50" border="0" id="kecheng_r2_c3" alt="" /></td>
   <td colspan="4"><img name="kecheng_r2_c5" src="/images//kecheng_r2_c5.jpg" width="644" height="50" border="0" id="kecheng_r2_c5" alt="" /></td>
   <td><img name="kecheng_r2_c9" src="/images//kecheng_r2_c9.jpg" width="95" height="50" border="0" id="kecheng_r2_c9" alt="" /></td>
   <td><img src="/images//spacer.gif" width="1" height="50" border="0" alt="" /></td>
  </tr>
  <tr>
   <td rowspan="4" colspan="3"><img name="kecheng_r3_c3" src="/images//kecheng_r3_c3.jpg" width="313" height="314" border="0" id="kecheng_r3_c3" alt="" /></td>
   <td><img name="kecheng_r3_c6" src="/images//kecheng_r3_c6.jpg" width="226" height="49" border="0" id="kecheng_r3_c6" alt="" /></td>
   <td colspan="2"><img name="kecheng_r3_c7" src="/images//kecheng_r3_c7.jpg" width="249" height="49" border="0" id="kecheng_r3_c7" alt="" /></td>
   <td rowspan="4"><img name="kecheng_r3_c9" src="/images//kecheng_r3_c9.jpg" width="95" height="314" border="0" id="kecheng_r3_c9" alt="" /></td>
   <td><img src="/images//spacer.gif" width="1" height="49" border="0" alt="" /></td>
  </tr>
  <tr>
   <td rowspan="2" colspan="2"><p><span class="biaoti12">A 深刻体验与感悟</span><br />
       <span class="zw">小船长致力打造一个真实的情感感悟环境，教会孩子认识自己、管理自己、成就<br />
     自己。小船在认为：只有深刻的体验才能引起明确的认知。传言一个道理的孩子<br />
    往往是浅显的，甚至片面的，只有轻身经历过、并有所感悟才能变成孩子自己的。</span></p>
    <p><span class="biaoti14">B 课程指导体系</span><br />
      <span class="zw">以孩子亲身实践和体验为主，理论讲解为辅，通过情景体验、引导认知、实践应
      用、自我感悟四阶段，从而，提升孩子的请上水平。 </span><br />
    </p>
    <p><span class="biaoti11">C 团队成长模式</span><br />
      <span class="zw">以孩子亲身实践和体验为主，理论讲解为辅，通过情景体验、引导认知、实践应<br />
    用、自我感悟四阶段，从而，提升孩子的请上水平</span>。 </p></td>
   <td rowspan="3"><img name="kecheng_r4_c8" src="/images//kecheng_r4_c8.jpg" width="20" height="265" border="0" id="kecheng_r4_c8" alt="" /></td>
   <td><img src="/images//spacer.gif" width="1" height="188" border="0" alt="" /></td>
  </tr>
  <tr>
   <td rowspan="3"><img name="kecheng_r5_c1" src="/images//kecheng_r5_c1.jpg" width="97" height="91" border="0" id="kecheng_r5_c1" alt="" /></td>
   <td rowspan="3"><img name="kecheng_r5_c2" src="/images//kecheng_r5_c2.jpg" width="220" height="91" border="0" id="kecheng_r5_c2" alt="" /></td>
   <td><img src="/images//spacer.gif" width="1" height="57" border="0" alt="" /></td>
  </tr>
  <tr>
   <td colspan="2"><img name="kecheng_r6_c6" src="/images//kecheng_r6_c6.jpg" width="455" height="20" border="0" id="kecheng_r6_c6" alt="" /></td>
   <td><img src="/images//spacer.gif" width="1" height="20" border="0" alt="" /></td>
  </tr>
  <tr>
   <td rowspan="2" colspan="6"><img name="kecheng_r7_c3" src="/images//kecheng_r7_c3.jpg" width="788" height="27" border="0" id="kecheng_r7_c3" alt="" /></td>
   <td rowspan="2"><img name="kecheng_r7_c9" src="/images//kecheng_r7_c9.jpg" width="95" height="27" border="0" id="kecheng_r7_c9" alt="" /></td>
   <td><img src="/images//spacer.gif" width="1" height="14" border="0" alt="" /></td>
  </tr>
  <tr>
   <td rowspan="2"><img name="kecheng_r8_c1" src="/images//kecheng_r8_c1.jpg" width="97" height="63" border="0" id="kecheng_r8_c1" alt="" /></td>
   <td rowspan="2"><img name="kecheng_r8_c2" src="/images//kecheng_r8_c2.jpg" width="220" height="63" border="0" id="kecheng_r8_c2" alt="" /></td>
   <td><img src="/images//spacer.gif" width="1" height="13" border="0" alt="" /></td>
  </tr>
  <tr>
   <td rowspan="2" colspan="6"><img name="kecheng_r9_c3" src="/images//kecheng_r9_c3.jpg" width="788" height="340" border="0" id="kecheng_r9_c3" alt="" /></td>
   <td rowspan="2"><img name="kecheng_r9_c9" src="/images//kecheng_r9_c9.jpg" width="95" height="340" border="0" id="kecheng_r9_c9" alt="" /></td>
   <td><img src="/images//spacer.gif" width="1" height="50" border="0" alt="" /></td>
  </tr>
  <tr>
   <td rowspan="10" colspan="2"><img name="kecheng_r10_c1" src="/images//kecheng_r10_c1.jpg" width="317" height="1635" border="0" id="kecheng_r10_c1" alt="" /></td>
   <td><img src="/images//spacer.gif" width="1" height="290" border="0" alt="" /></td>
  </tr>
  <tr>
   <td colspan="6"><img name="kecheng_r11_c3" src="/images//kecheng_r11_c3.jpg" width="788" height="19" border="0" id="kecheng_r11_c3" alt="" /></td>
   <td><img name="kecheng_r11_c9" src="/images//kecheng_r11_c9.jpg" width="95" height="19" border="0" id="kecheng_r11_c9" alt="" /></td>
   <td><img src="/images//spacer.gif" width="1" height="19" border="0" alt="" /></td>
  </tr>
  <tr>
   <td colspan="6"><img name="kecheng_r12_c3" src="/images//kecheng_r12_c3.jpg" width="788" height="20" border="0" id="kecheng_r12_c3" alt="" /></td>
   <td><img name="kecheng_r12_c9" src="/images//kecheng_r12_c9.jpg" width="95" height="20" border="0" id="kecheng_r12_c9" alt="" /></td>
   <td><img src="/images//spacer.gif" width="1" height="20" border="0" alt="" /></td>
  </tr>
  <tr>
   <td rowspan="2"><img name="kecheng_r13_c3" src="/images//kecheng_r13_c3.jpg" width="30" height="277" border="0" id="kecheng_r13_c3" alt="" /></td>
   <td colspan="4"><span class="dabiao">第一阶段</span><br />
     <br />
     <span class="zw">目   标：系统性培养计划<br />
     实施过程：参与基础课程，帮助孩子建立积极自我认知，学会识别常见情绪并掌握基本人际交往技巧。过程中记录孩子的行为表现建立
     个性化档案</span><br />
<br />
     <span class="dabiao">第二阶段</span><br />
     <p class="zw">目   标：针对性培养计划<br />
       实施过程：针对个性化档案参加针对性培养方案</p>
     <p></p>
     <p><span class="dabiao">第三阶段</span><br />
       <br />
       <span class="zw">目标：综合提高计划<br />
        实施过程： 掌握良好人际交往的技巧，通过思维训练、成功品质的感悟提高孩子的综合素质。</span><br />
    </p></td>
   <td rowspan="2"><img name="kecheng_r13_c8" src="/images//kecheng_r13_c8.jpg" width="20" height="277" border="0" id="kecheng_r13_c8" alt="" /></td>
   <td rowspan="2"><img name="kecheng_r13_c9" src="/images//kecheng_r13_c9.jpg" width="95" height="277" border="0" id="kecheng_r13_c9" alt="" /></td>
   <td><img src="/images//spacer.gif" width="1" height="264" border="0" alt="" /></td>
  </tr>
  <tr>
   <td colspan="4"><img name="kecheng_r14_c4" src="/images//kecheng_r14_c4.jpg" width="738" height="13" border="0" id="kecheng_r14_c4" alt="" /></td>
   <td><img src="/images//spacer.gif" width="1" height="13" border="0" alt="" /></td>
  </tr>
  <tr>
   <td colspan="6"><img name="kecheng_r15_c3" src="/images//kecheng_r15_c3.jpg" width="788" height="20" border="0" id="kecheng_r15_c3" alt="" /></td>
   <td><img name="kecheng_r15_c9" src="/images//kecheng_r15_c9.jpg" width="95" height="20" border="0" id="kecheng_r15_c9" alt="" /></td>
   <td><img src="/images//spacer.gif" width="1" height="20" border="0" alt="" /></td>
  </tr>
  <tr>
   <td colspan="6"><img name="kecheng_r16_c3" src="/images//kecheng_r16_c3.jpg" width="788" height="29" border="0" id="kecheng_r16_c3" alt="" /></td>
   <td><img name="kecheng_r16_c9" src="/images//kecheng_r16_c9.jpg" width="95" height="29" border="0" id="kecheng_r16_c9" alt="" /></td>
   <td><img src="/images//spacer.gif" width="1" height="29" border="0" alt="" /></td>
  </tr>
  <tr>
   <td colspan="6"><img name="kecheng_r17_c3" src="/images//kecheng_r17_c3.jpg" width="788" height="289" border="0" id="kecheng_r17_c3" alt="" /></td>
   <td><img name="kecheng_r17_c9" src="/images//kecheng_r17_c9.jpg" width="95" height="289" border="0" id="kecheng_r17_c9" alt="" /></td>
   <td><img src="/images//spacer.gif" width="1" height="289" border="0" alt="" /></td>
  </tr>
  <tr>
   <td colspan="6"><img name="kecheng_r18_c3" src="/images//kecheng_r18_c3.jpg" width="788" height="38" border="0" id="kecheng_r18_c3" alt="" /></td>
   <td><img name="kecheng_r18_c9" src="/images//kecheng_r18_c9.jpg" width="95" height="38" border="0" id="kecheng_r18_c9" alt="" /></td>
   <td><img src="/images//spacer.gif" width="1" height="38" border="0" alt="" /></td>
  </tr>
  <tr>
   <td colspan="6"><img name="kecheng_r19_c3" src="/images//kecheng_r19_c3.jpg" width="788" height="653" border="0" id="kecheng_r19_c3" alt="" /></td>
   <td><img name="kecheng_r19_c9" src="/images//kecheng_r19_c9.jpg" width="95" height="653" border="0" id="kecheng_r19_c9" alt="" /></td>
   <td><img src="/images//spacer.gif" width="1" height="653" border="0" alt="" /></td>
  </tr>
  </table>
  <map name="kecheng_r2_c2Map" id="kecheng_r2_c2Map">
  <area shape="rect" coords="61,75,129,96" href="/homes/forums/<%=Forum.find_by_code("wenzhang").id%>">
  <area shape="rect" coords="57,118,130,139" href="/homes/forums/<%=Forum.find_by_code("xinling").id%>">
  <area shape="rect" coords="63,158,124,181" href="/homes/forums/<%=Forum.find_by_code("huihua").id%>">
  <area shape="rect" coords="58,200,126,225" href="/homes/forums/<%=Forum.find_by_code("yule").id%>">
  <area shape="rect" coords="60,242,130,265" href="/homes/forums/<%=Forum.find_by_code("gushi").id%>">
</map>