<table width="1200" border="0" cellpadding="0" cellspacing="0">
 <tr>
   <td><img src="/images/spacer.gif" width="101" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="113" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="33" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="63" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="8" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="10" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="47" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="32" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="59" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="6" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="72" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="30" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="129" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="44" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="55" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="47" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="23" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="44" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="6" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="10" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="71" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="30" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="58" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="12" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="97" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="1" height="1" border="0" alt=""></td>
  </tr>
 <tr>
   <td><img name="xueyuan_r6_c1" src="/images/xueyuan_r6_c1.jpg" width="101" height="41" border="0" id="xueyuan_r6_c1" alt="" /></td>

  <td colspan="3"><a href="/homes/forums/<%=Forum.find_by_code("ziliao").id%>" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image18','','/images/yuerleft_r2_c21.jpg',1)">
        <%if @forum.id == Forum.find_by_code("ziliao").id%>
    <img src="/images/yuerleft_r2_c21.jpg" name="Image18" width="189" height="41" border="0" id="Image18">
    <%else%>
    <img src="/images/yuerleft_r2_c2.jpg" name="Image18" width="189" height="41" border="0" id="Image18">
    <%end%>
  </a></td>


   <td colspan="6"><img name="xueyuan_r6_c5" src="/images/xueyuan_r6_c5.jpg" width="162" height="41" border="0" id="xueyuan_r6_c5" alt="" /></td>
   <td colspan="8"><img name="xueyuan_r6_c11" src="/images/xueyuan_r6_c11.jpg" width="444" height="41" border="0" id="xueyuan_r6_c11" alt="" /></td>
   <td  colspan="6" background="/images/xueyuan_r6_c19.jpg"><div style= "width:187px;" align="center"><span  class="banquan"><%=forum_tab @forum%></span></div></td>
   <td><img name="xueyuan_r6_c25" src="/images/xueyuan_r6_c25.jpg" width="97" height="41" border="0" id="xueyuan_r6_c25" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="41" border="0" alt="" /></td>
</tr>

  <tr>
   <td rowspan="3"><img name="xueyuan_r7_c1" src="/images/xueyuan_r7_c1.jpg" width="101" height="44" border="0" id="xueyuan_r7_c1" alt="" /></td>
   <td rowspan="3" colspan="3"><a href="/homes/forums/<%=Forum.find_by_code("wenzhang").id%>" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image19','','/images/yuerleft_r3_c21.jpg',1)">
     <%if @forum.id == Forum.find_by_code("wenzhang").id%>
    <img src="/images/yuerleft_r3_c21.jpg" name="Image19" width="189" height="41" border="0" id="Image19">
    <%else%>
    <img src="/images/yuerleft_r3_c2.jpg" name="Image19" width="189" height="41" border="0" id="Image19">
    <%end%>
  </a></td>
   <td rowspan="7"><img name="xueyuan_r7_c5" src="/images/xueyuan_r7_c5.jpg" width="8" height="200" border="0" id="xueyuan_r7_c5" alt="" /></td>
   <td rowspan="7"><img name="xueyuan_r7_c6" src="/images/xueyuan_r7_c6.jpg" width="10" height="200" border="0" id="xueyuan_r7_c6" alt="" /></td>
   <td colspan="18"><img name="xueyuan_r7_c7" src="/images/xueyuan_r7_c7.jpg" width="775" height="13" border="0" id="xueyuan_r7_c7" alt="" /></td>
   <td rowspan="2"><img name="xueyuan_r7_c25" src="/images/xueyuan_r7_c25.jpg" width="97" height="23" border="0" id="xueyuan_r7_c25" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="13" border="0" alt="" /></td>
  </tr>
  <tr>
   <td rowspan="6" colspan="17">
    <%if @forum.picture1 &&  @forum.picture1 !=""%>
    <%#= image_tag( @forum.picture1.url(:thumb), :alt => @forum.title,:width=>"763" ,:height=>"187" ,:border=>"0") if @forum.picture1 %>
    <%= image_tag( @forum.picture1, :alt => @forum.name,:width=>"763" ,:height=>"187" ,:border=>"0")%>
    <%else%>
    <img name="xueyuan_r8_c7" src="/images/xueyuan_r8_c7.jpg" width="763" height="187" border="0" id="xueyuan_r8_c7" alt="" />
    <%end%>
  </td>
   <td rowspan="6"><img name="xueyuan_r8_c24" src="/images/xueyuan_r8_c24.jpg" width="12" height="187" border="0" id="xueyuan_r8_c24" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="10" border="0" alt="" /></td>
  </tr>
  <tr>
   <td rowspan="7"><img name="xueyuan_r9_c25" src="/images/xueyuan_r9_c25.jpg" width="97" height="243" border="0" id="xueyuan_r9_c25" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="21" border="0" alt="" /></td>
  </tr>
  <tr>
   <td><img name="xueyuan_r10_c1" src="/images/xueyuan_r10_c1.jpg" width="101" height="40" border="0" id="xueyuan_r10_c1" alt="" /></td>
   <td colspan="3"><a href="/homes/forums/<%=Forum.find_by_code("xinling").id%>" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image20','','/images/yuerleft_r4_c21.jpg',1)">
    <%if @forum.id == Forum.find_by_code("xinling").id%>
    <img src="/images/yuerleft_r4_c21.jpg" name="Image20" width="189" height="41" border="0" id="Image20">
    <%else%>
    <img src="/images/yuerleft_r4_c2.jpg" name="Image20" width="189" height="41" border="0" id="Image20">
    <%end%>
  </a></td>
   <td><img src="/images/spacer.gif" width="1" height="40" border="0" alt="" /></td>
  </tr>
  <tr>
   <td><img name="xueyuan_r11_c1" src="/images/xueyuan_r11_c1.jpg" width="101" height="39" border="0" id="xueyuan_r11_c1" alt="" /></td>
   <td colspan="3"><a href="/homes/forums/<%=Forum.find_by_code("huihua").id%>" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image21','','/images/yuerleft_r5_c21.jpg',1)">
 <%if @forum.id == Forum.find_by_code("huihua").id%>
    <img src="/images/yuerleft_r5_c21.jpg" name="Image21" width="189" height="41" border="0" id="Image21">
    <%else%>
    <img src="/images/yuerleft_r5_c2.jpg" name="Image21" width="189" height="41" border="0" id="Image21">
    <%end%>
   </a></td>
   <td><img src="/images/spacer.gif" width="1" height="39" border="0" alt="" /></td>
  </tr>
    <tr>
   <td><img name="xueyuan_r11_c1" src="/images/xueyuan_r11_c1.jpg" width="101" height="39" border="0" id="xueyuan_r11_c1" alt="" /></td>
   <td colspan="3"><a href="/homes/forums/<%=Forum.find_by_code("yule").id%>" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image22','','/images/yuerleft_r6_c21.jpg',1)">
 <%if @forum.id == Forum.find_by_code("yule").id%>
    <img src="/images/yuerleft_r6_c21.jpg" name="Image22" width="189" height="41" border="0" id="Image22">
    <%else%>
    <img src="/images/yuerleft_r6_c2.jpg" name="Image22" width="189" height="41" border="0" id="Image22">
    <%end%>
   </a></td>
   <td><img src="/images/spacer.gif" width="1" height="39" border="0" alt="" /></td>
  </tr>
  <tr>
   <td><img name="xueyuan_r12_c1" src="/images/xueyuan_r12_c1.jpg" width="101" height="48" border="0" id="xueyuan_r12_c1" alt="" /></td>
   <td colspan="3"><a href="/homes/forums/<%=Forum.find_by_code("gushi").id%>" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image23','','/images/yuerleft_r7_c21.jpg',1)">
<%if @forum.id == Forum.find_by_code("gushi").id%>
    <img src="/images/yuerleft_r7_c21.jpg" name="Image23" width="189"  border="0" id="Image23">
    <%else%>
    <img src="/images/yuerleft_r7_c2.jpg" name="Image23" width="189"  border="0" id="Image23">
    <%end%>
   </a></td>
   <td><img src="/images/spacer.gif" width="1" height="48" border="0" alt="" /></td>
  </tr>

  <tr>
   <td rowspan="3"><img name="xueyuan_r13_c1" src="/images/xueyuan_r13_c1.jpg" width="101" height="95" border="0" id="xueyuan_r13_c1" alt="" /></td>
   <td rowspan="3" colspan="3"><img name="xueyuan_r13_c2" src="/images/xueyuan_r13_c2.jpg" width="209" height="95" border="0" id="xueyuan_r13_c2" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="29" border="0" alt="" /></td>
  </tr>
  <tr>
   <td colspan="2"><img name="xueyuan_r14_c5" src="/images/xueyuan_r14_c5.jpg" width="18" height="20" border="0" id="xueyuan_r14_c5" alt="" /></td>
   <td colspan="17"><img name="xueyuan_r14_c7" src="/images/xueyuan_r14_c7.jpg" width="763" height="20" border="0" id="xueyuan_r14_c7" alt="" /></td>
   <td><img name="xueyuan_r14_c24" src="/images/xueyuan_r14_c24.jpg" width="12" height="20" border="0" id="xueyuan_r14_c24" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="20" border="0" alt="" /></td>
  </tr>
  <tr>
   <td><img name="xueyuan_r15_c5" src="/images/xueyuan_r15_c5.jpg" width="8" height="46" border="0" id="xueyuan_r15_c5" alt="" /></td>
   <td colspan="4" ><img name="xueyuan_r15_c6" src="/images/xueyuan_r15_c6.jpg" width="148" height="46" border="0" id="xueyuan_r15_c6" alt="" /></td>
   <td colspan="10"><img name="xueyuan_r15_c10" src="/images/xueyuan_r15_c10.jpg" width="456" height="46" border="0" id="xueyuan_r15_c10" alt="" /></td>
   <td colspan="4"><img name="xueyuan_r15_c20" src="/images/xueyuan_r15_c20.jpg" width="169" height="46" border="0" id="xueyuan_r15_c20" alt="" /></td>
   <td><img name="xueyuan_r15_c24" src="/images/xueyuan_r15_c24.jpg" width="12" height="46" border="0" id="xueyuan_r15_c24" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="46" border="0" alt="" /></td>
  </tr>

<%if @articles.length >0%>

<%@articles.each do |article| %>
  <tr>
    <%if article == @articles[0]%>
   <td rowspan="16"><img name="xueyuan_r16_c1" src="/images/xueyuan_r16_c1.jpg" width="101" height="292" border="0" id="xueyuan_r16_c1" alt="" /></td>
   <td rowspan="16" colspan="3"><img name="xueyuan_r16_c2" src="/images/xueyuan_r16_c2.jpg" width="209" height="292" border="0" id="xueyuan_r16_c2" alt="" /></td>
   <td rowspan="16" colspan="2"><img name="xueyuan_r16_c5" src="/images/xueyuan_r16_c5.jpg" width="18" height="292" border="0" id="xueyuan_r16_c5" alt="" /></td>
   <%end%>
   <td colspan="3" ><a class="biaoti" href="/homes/articles/<%=article.id%>" title="<%=article.small_title%>">【<%=strip_html(article.small_title,6,"")%>】</a></td>
   <td colspan="10" ><a class="zw" href="/homes/articles/<%=article.id%>" title="<%=article.title%>" ><span title = "<%=article.title%>"><%=strip_html(article.title,40,"...")%></span></a></td>
   <td colspan="4" class="zw"> <div align="center"><%=article.updated_at.strftime("%Y-%m-%d")%></div></td>
   <td><img name="xueyuan_r16_c24" src="/images/xueyuan_r16_c24.jpg" width="12" height="30" border="0" id="xueyuan_r16_c24" alt="" /></td>
   <td rowspan="5"><img name="xueyuan_r16_c25" src="/images/xueyuan_r16_c25.jpg" width="97" height="109" border="0" id="xueyuan_r16_c25" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="30" border="0" alt="" /></td>
  </tr>
  <tr>
   <td colspan="18"><img name="xueyuan_r17_c7" src="/images/xueyuan_r17_c7.jpg" width="775" height="7" border="0" id="xueyuan_r17_c7" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="7" border="0" alt="" /></td>
  </tr>
  <%end%>
<%else%>
  <tr>
   <td rowspan="16"><img name="xueyuan_r16_c1" src="/images/xueyuan_r16_c1.jpg" width="101" height="292" border="0" id="xueyuan_r16_c1" alt="" /></td>
   <td rowspan="16" colspan="3"><img name="xueyuan_r16_c2" src="/images/xueyuan_r16_c2.jpg" width="209" height="292" border="0" id="xueyuan_r16_c2" alt="" /></td>
   <td rowspan="16" colspan="2"><img name="xueyuan_r16_c5" src="/images/xueyuan_r16_c5.jpg" width="18" height="292" border="0" id="xueyuan_r16_c5" alt="" /></td>
   <td colspan="3" class="biaoti">【正确看待孩子哭闹】</td>
   <td colspan="10" class="zw">写给家长的话我们的宗旨我们的宗旨写给家长的话我们的宗旨我们的宗旨</td>
   <td colspan="4" class="zw"> <div align="center">2012-02-01</div></td>
   <td><img name="xueyuan_r16_c24" src="/images/xueyuan_r16_c24.jpg" width="12" height="30" border="0" id="xueyuan_r16_c24" alt="" /></td>
   <td rowspan="5"><img name="xueyuan_r16_c25" src="/images/xueyuan_r16_c25.jpg" width="97" height="109" border="0" id="xueyuan_r16_c25" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="30" border="0" alt="" /></td>
  </tr>
  <tr>
   <td colspan="18"><img name="xueyuan_r17_c7" src="/images/xueyuan_r17_c7.jpg" width="775" height="7" border="0" id="xueyuan_r17_c7" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="7" border="0" alt="" /></td>
  </tr>
<%end%>
  <tr>
   <td colspan="3"><img name="xueyuan_r31_c7" src="/images/xueyuan_r31_c7.jpg" width="138" height="51" border="0" id="xueyuan_r31_c7" alt="" /></td>
   <td colspan="10"><img name="xueyuan_r31_c10" src="/images/xueyuan_r31_c10.jpg" width="456" height="51" border="0" id="xueyuan_r31_c10" alt="" /></td>
   <td colspan="4"><img name="xueyuan_r31_c20" src="/images/xueyuan_r31_c20.jpg" width="169" height="51" border="0" id="xueyuan_r31_c20" alt="" /></td>
   <td><img name="xueyuan_r31_c24" src="/images/xueyuan_r31_c24.jpg" width="12" height="51" border="0" id="xueyuan_r31_c24" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="51" border="0" alt="" /></td>
  </tr>
</table>