<style type="text/css">td img {display: block;}body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
</style>

  <link href="/css/css.css" rel="stylesheet" type="text/css" />
  <style type="text/css">
a:link {
  text-decoration: none;
  color: #FFF;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
</style>
  <script type="text/javascript">

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>
<!-- head -->

<table border="0" cellpadding="0" cellspacing="0" width="1200">
<!-- fwtable fwsrc="head.png" fwpage="页面 1" fwbase="head.jpg" fwstyle="Dreamweaver" fwdocid = "804827224" fwnested="0" -->
  <tr>
   <td><img src="/images/spacer.gif" width="100" height="1" border="0" alt="" /></td>
   <td><img src="/images/spacer.gif" width="22" height="1" border="0" alt="" /></td>
   <td><img src="/images/spacer.gif" width="122" height="1" border="0" alt="" /></td>
   <td><img src="/images/spacer.gif" width="592" height="1" border="0" alt="" /></td>
   <td><img src="/images/spacer.gif" width="244" height="1" border="0" alt="" /></td>
   <td><img src="/images/spacer.gif" width="18" height="1" border="0" alt="" /></td>
   <td><img src="/images/spacer.gif" width="102" height="1" border="0" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="1" border="0" alt="" /></td>
  </tr>

  <tr>
   <td rowspan="2"><img name="head_r1_c1" src="/images/head_r1_c1.jpg" width="100" height="88" border="0" id="head_r1_c1" alt="" /></td>
   <td rowspan="2" colspan="2"><img name="head_r1_c2" src="/images/head_r1_c2.jpg" width="144" height="88" border="0" id="head_r1_c2" alt="" /></td>
   <td rowspan="2" background="/images/head_r1_c4.jpg"></td>
   <td colspan="2" background="/images/head_r1_c5.jpg" class="shoucang">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;设为首页     
&nbsp;&nbsp;&nbsp;&nbsp;加入收藏     
&nbsp;&nbsp;&nbsp;&nbsp;联系我们</td>
   <td rowspan="2"><img name="head_r1_c7" src="/images/head_r1_c7.jpg" width="102" height="88" border="0" id="head_r1_c7" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="34" border="0" alt="" /></td>
  </tr>
  <tr>
   <td colspan="2"><img name="head_r2_c5" src="/images/head_r2_c5.jpg" width="262" height="54" border="0" id="head_r2_c5" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="54" border="0" alt="" /></td>
  </tr>
  <tr>
   <td><img name="head_r3_c1" src="/images/head_r3_c1.jpg" width="100" height="50" border="0" id="head_r3_c1" alt="" /></td>
   <td><img name="head_r3_c2" src="/images/head_r3_c2.jpg" width="22" height="50" border="0" id="head_r3_c2" alt="" /></td>
   <td colspan="3" background="/images/head_r3_c3.jpg" class="danghang" ><strong>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/">首页
</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/homes/forums/<%=Forum.find_by_code("kecheng").id%>">课程介绍</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/homes/forums/<%=Forum.find_by_code("qingshang").id%>">关于情商</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/homes/forums/<%=Forum.find_by_code("about").id%>">关于我们</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/homes/forums/<%=Forum.find_by_code("xueyuan").id%>">学员之家</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/homes/forums/<%=Forum.find_by_code("huodong").id%>">我们的活动</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">阅读商城</a></strong></td>
   <td><img name="head_r3_c6" src="/images/head_r3_c6.jpg" width="18" height="50" border="0" id="head_r3_c6" alt="" /></td>
   <td><img name="head_r3_c7" src="/images/head_r3_c7.jpg" width="102" height="50" border="0" id="head_r3_c7" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="50" border="0" alt="" /></td>
  </tr>
</table>



<!-- head -->


