<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0014)about:internet -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="shortcut icon" type="image/png" href="/images/favicons/favicon.png"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
<link rel="stylesheet" type="text/css" href="/css/common.css">
<%if !@forum %>
<link rel="stylesheet" type="text/css" href="/css/index.css">
<%else%>
<link rel="stylesheet" type="text/css" href="/css/list.css">
<%end%>

<script type="text/javascript">

function addCookie()
{
 if (document.all)
    {
       window.external.addFavorite('http://<%=@web_info.url%>','<%=@web_info.name%>');
    }
    else if (window.sidebar)
    {
       window.sidebar.addPanel('<%=@web_info.name%>', 'http://<%=@web_info.url%>', "");
 }
}

function setHomepage()
{
 if (document.all)
    {
        document.body.style.behavior='url(#default#homepage)';
  document.body.setHomePage('http://<%=@web_info.url%>');
 
    }
    else if (window.sidebar)
    {
    if(window.netscape)
    {
         try
   {  
            netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");  
         }  
         catch (e)  
         {  
    alert( "该操作被浏览器拒绝，如果想启用该功能，请在地址栏内输入 about:config,然后将项 signed.applets.codebase_principal_support 值该为true" );  
         }
    } 
    var prefs = Components.classes['@mozilla.org/preferences-service;1'].getService(Components. interfaces.nsIPrefBranch);
    prefs.setCharPref('browser.startup.homepage','http://www.carzymusic.com');
 }
}
</script>


<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8">
</script>
<title><%if @forum %><%= @forum.name %><%else%>小船长首页<%end%></title>
</head>

<body>
  <div class="bgbody">
<div id="top">
  <div class="logo">
    <img src="/image/logo.gif"></div>
  <div class="top_nav">
    <ul>
      <li>
        <a onclick="setHomepage()" href="#">设为首页</a>
      </li>
      <li>
        <a onclick="addCookie()" href="#">加入收藏</a>
      </li>
      <li>
        <a href="#">联系我们</a>
      </li>
    </ul>
  </div>
</div>
<div id="menu">
  <ul>
    <li>
      <a href="/">首页</a>
    </li>

    <% @forum_first.each do |forum| %>
      <li>
        <%=link_to forum.name,"/homes/forums/#{forum.id}"%>
      </li>
    <%end%>
    <li><a href="#">阅读商城</a></li>
    </ul>
</div>