<style type="text/css">td img {display: block;}body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
</style>
  <style type="text/css">
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
</style>
  <link href="/css/css.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript">

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>
<!-- head -->


<table border="0" cellpadding="0" cellspacing="0" width="1200">
<!-- fwtable fwsrc="head2.png" fwpage="页面 1" fwbase="head.jpg" fwstyle="Dreamweaver" fwdocid = "505195396" fwnested="0" -->
  <tr>
   <td><img src="/images/spacer.gif" width="102" height="1" border="0" alt="" /></td>
   <td><img src="/images/spacer.gif" width="15" height="1" border="0" alt="" /></td>
   <td><img src="/images/spacer.gif" width="102" height="1" border="0" alt="" /></td>
   <td><img src="/images/spacer.gif" width="16" height="1" border="0" alt="" /></td>
   <td><img src="/images/spacer.gif" width="115" height="1" border="0" alt="" /></td>
   <td><img src="/images/spacer.gif" width="17" height="1" border="0" alt="" /></td>
   <td><img src="/images/spacer.gif" width="126" height="1" border="0" alt="" /></td>
   <td><img src="/images/spacer.gif" width="22" height="1" border="0" alt="" /></td>
   <td><img src="/images/spacer.gif" width="126" height="1" border="0" alt="" /></td>
   <td><img src="/images/spacer.gif" width="21" height="1" border="0" alt="" /></td>
   <td><img src="/images/spacer.gif" width="124" height="1" border="0" alt="" /></td>
   <td><img src="/images/spacer.gif" width="21" height="1" border="0" alt="" /></td>
   <td><img src="/images/spacer.gif" width="29" height="1" border="0" alt="" /></td>
   <td><img src="/images/spacer.gif" width="114" height="1" border="0" alt="" /></td>
   <td><img src="/images/spacer.gif" width="20" height="1" border="0" alt="" /></td>
   <td><img src="/images/spacer.gif" width="113" height="1" border="0" alt="" /></td>
   <td><img src="/images/spacer.gif" width="21" height="1" border="0" alt="" /></td>
   <td><img src="/images/spacer.gif" width="96" height="1" border="0" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="1" border="0" alt="" /></td>
  </tr>

  <tr>
   <td rowspan="2"><img name="head_r1_c1" src="/images/head_r1_c1.jpg" width="102" height="88" border="0" id="head_r1_c1" alt="" /></td>
   <td rowspan="2" colspan="2"><img name="head_r1_c2" src="/images/head_r1_c2.jpg" width="117" height="88" border="0" id="head_r1_c2" alt="" /></td>
   <td rowspan="2" colspan="10"><img name="head_r1_c4" src="/images/head_r1_c4.jpg" width="617" height="88" border="0" id="head_r1_c4" alt="" /></td>
   <td colspan="4" align="center" background="/images/head_r1_c14.jpg" class="shoucang"><a href="#" style="color: #795B3C;;" onclick="setHomepage()">设为首页</a> &nbsp;&nbsp;&nbsp;&nbsp;    <a onclick="addCookie()"href="#" style="color: #795B3C;;">加入收藏</a>&nbsp;&nbsp;&nbsp; &nbsp;     <a href="#" style="color: #795B3C;;">联系我们</a></td>
   <td rowspan="2"><img name="head_r1_c18" src="/images/head_r1_c18.jpg" width="96" height="88" border="0" id="head_r1_c18" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="35" border="0" alt="" /></td>
  </tr>
  <tr>
   <td colspan="4"><img name="head_r2_c14" src="/images/head_r2_c14.jpg" width="268" height="53" border="0" id="head_r2_c14" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="53" border="0" alt="" /></td>
  </tr>
  <tr>
   <td><img name="head_r3_c1" src="/images/head_r3_c1.jpg" width="102" height="50" border="0" id="head_r3_c1" alt="" /></td>
   <td><img name="head_r3_c2" src="/images/head_r3_c2.jpg" width="15" height="50" border="0" id="head_r3_c2" alt="" /></td>
   <td><a href="/" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image45','','/images/head_r3_c31.jpg',0)"><img src="/images/head_r3_c3.jpg" name="Image45" width="102" height="50" border="0" id="Image45" /></a></td>
   <td><img name="head_r3_c4" src="/images/head_r3_c4.jpg" width="16" height="50" border="0" id="head_r3_c4" alt="" /></td>
   <td><a href="/homes/forums/<%=Forum.find_by_code("kecheng").id%>" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image46','','/images/head_r3_c51.jpg',1)"><img src="/images/head_r3_c5.jpg" name="Image46" width="115" height="50" border="0" id="Image46" /></a></td>
   <td><img name="head_r3_c6" src="/images/head_r3_c6.jpg" width="17" height="50" border="0" id="head_r3_c6" alt="" /></td>
   <td><a href="/homes/forums/<%=Forum.find_by_code("qingshang").id%>" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image47','','/images/head_r3_c71.jpg',1)"><img src="/images/head_r3_c7.jpg" name="Image47" width="126" height="50" border="0" id="Image47" /></a></td>
   <td><img name="head_r3_c8" src="/images/head_r3_c8.jpg" width="22" height="50" border="0" id="head_r3_c8" alt="" /></td>
   <td><a href="/homes/forums/<%=Forum.find_by_code("about").id%>" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image48','','/images/head_r3_c91.jpg',1)"><img src="/images/head_r3_c9.jpg" name="Image48" width="126" height="50" border="0" id="Image48" /></a></td>
   <td><img name="head_r3_c10" src="/images/head_r3_c10.jpg" width="21" height="50" border="0" id="head_r3_c10" alt="" /></td>
   <td><a href="/homes/forums/<%=Forum.find_by_code("xueyuan").id%>" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image49','','/images/head_r3_c111.jpg',1)"><img src="/images/head_r3_c11.jpg" name="Image49" width="124" height="50" border="0" id="Image49" /></a></td>
   <td><img name="head_r3_c12" src="/images/head_r3_c12.jpg" width="21" height="50" border="0" id="head_r3_c12" alt="" /></td>
   <td colspan="2"><a href="/homes/forums/<%=Forum.find_by_code("huodong").id%>" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image50','','/images/head_r3_c131.jpg',1)"><img src="/images/head_r3_c13.jpg" name="Image50" width="143" height="50" border="0" id="Image50" /></a></td>
   <td><img name="head_r3_c15" src="/images/head_r3_c15.jpg" width="20" height="50" border="0" id="head_r3_c15" alt="" /></td>
   <td><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image51','','/images/head_r3_c161.jpg',1)"><img src="/images/head_r3_c16.jpg" name="Image51" width="113" height="50" border="0" id="Image51" /></a></td>
   <td><img name="head_r3_c17" src="/images/head_r3_c17.jpg" width="21" height="50" border="0" id="head_r3_c17" alt="" /></td>
   <td><img name="head_r3_c18" src="/images/head_r3_c18.jpg" width="96" height="50" border="0" id="head_r3_c18" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="50" border="0" alt="" /></td>
  </tr>
</table>



<!-- head -->


