 <table width="1200" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td><img src="/images/spacer.gif" width="98" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="216" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="27" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="145" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="338" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="80" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="173" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="39" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="84" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="1" height="1" border="0" alt=""></td>
  </tr>
 <tr>
   <td rowspan="3"><img name="aboutus_r2_c1" src="/images/aboutus_r2_c1.jpg" width="98" height="244" border="0" id="aboutus_r2_c1" alt="" /></td>
   <td rowspan="3">
<%=  render "common/left"%>

   </td>
   <td colspan="4"><img name="aboutus_r2_c3" src="/images/aboutus_r2_c3.jpg" width="590" height="70" border="0" id="aboutus_r2_c3" alt="" /></td>
   <td colspan="2"><img name="aboutus_r2_c7" src="/images/aboutus_r2_c7.jpg" width="212" height="70" border="0" id="aboutus_r2_c7" alt="" /></td>
   <td><img name="aboutus_r2_c9" src="/images/aboutus_r2_c9.jpg" width="84" height="70" border="0" id="aboutus_r2_c9" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="70" border="0" alt="" /></td>
  </tr>
  <tr>
   <td><img name="aboutus_r3_c3" src="/images/aboutus_r3_c3.jpg" width="27" height="37" border="0" id="aboutus_r3_c3" alt="" /></td>
   <td><img name="aboutus_r3_c4" src="/images/aboutus_r3_c4.jpg" width="145" height="37" border="0" id="aboutus_r3_c4" alt="" /></td>
   <td colspan="3"><img name="aboutus_r3_c5" src="/images/aboutus_r3_c5.jpg" width="591" height="37" border="0" id="aboutus_r3_c5" alt="" /></td>
   <td><img name="aboutus_r3_c8" src="/images/aboutus_r3_c8.jpg" width="39" height="37" border="0" id="aboutus_r3_c8" alt="" /></td>
   <td><img name="aboutus_r3_c9" src="/images/aboutus_r3_c9.jpg" width="84" height="37" border="0" id="aboutus_r3_c9" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="37" border="0" alt="" /></td>
  </tr>
  <tr>
   <td rowspan="2"><img name="aboutus_r4_c3" src="/images/aboutus_r4_c3.jpg" width="27" height="167" border="0" id="aboutus_r4_c3" alt="" /></td>
   <td colspan="4" rowspan="2" class="zw"><%= raw Article.find_by_title("写给家长的话").context%></td>
   <td rowspan="2"><img name="aboutus_r4_c8" src="/images/aboutus_r4_c8.jpg" width="39" height="167" border="0" id="aboutus_r4_c8" alt="" /></td>
   <td rowspan="2"><img name="aboutus_r4_c9" src="/images/aboutus_r4_c9.jpg" width="84" height="167" border="0" id="aboutus_r4_c9" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="137" border="0" alt="" /></td>
  </tr>
  <tr>
   <td rowspan="3"><img name="aboutus_r5_c1" src="/images/aboutus_r5_c1.jpg" width="98" height="84" border="0" id="aboutus_r5_c1" alt="" /></td>
   <td rowspan="3"><img name="aboutus_r5_c2" src="/images/aboutus_r5_c2.jpg" width="216" height="84" border="0" id="aboutus_r5_c2" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="30" border="0" alt="" /></td>
  </tr>
  <tr>
   <td><img name="aboutus_r6_c3" src="/images/aboutus_r6_c3.jpg" width="27" height="38" border="0" id="aboutus_r6_c3" alt="" /></td>
   <td><img name="aboutus_r6_c4" src="/images/aboutus_r6_c4.jpg" width="145" height="38" border="0" id="aboutus_r6_c4" alt="" /></td>
   <td colspan="3"><img name="aboutus_r6_c5" src="/images/aboutus_r6_c5.jpg" width="591" height="38" border="0" id="aboutus_r6_c5" alt="" /></td>
   <td><img name="aboutus_r6_c8" src="/images/aboutus_r6_c8.jpg" width="39" height="38" border="0" id="aboutus_r6_c8" alt="" /></td>
   <td><img name="aboutus_r6_c9" src="/images/aboutus_r6_c9.jpg" width="84" height="38" border="0" id="aboutus_r6_c9" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="38" border="0" alt="" /></td>
  </tr>
  <tr>
   <td rowspan="2"><img name="aboutus_r7_c3" src="/images/aboutus_r7_c3.jpg" width="27" height="26" border="0" id="aboutus_r7_c3" alt="" /></td>
   <td colspan="4" rowspan="2" class="zw"><%= raw Article.find_by_title("我们的愿景").context%></td>
   <td rowspan="2"><img name="aboutus_r7_c8" src="/images/aboutus_r7_c8.jpg" width="39" height="26" border="0" id="aboutus_r7_c8" alt="" /></td>
   <td rowspan="2"><img name="aboutus_r7_c9" src="/images/aboutus_r7_c9.jpg" width="84" height="26" border="0" id="aboutus_r7_c9" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="16" border="0" alt="" /></td>
  </tr>
  <tr>
   <td rowspan="3"><img name="aboutus_r8_c1" src="/images/aboutus_r8_c1.jpg" width="98" height="68" border="0" id="aboutus_r8_c1" alt="" /></td>
   <td rowspan="3"><img name="aboutus_r8_c2" src="/images/aboutus_r8_c2.jpg" width="216" height="68" border="0" id="aboutus_r8_c2" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="10" border="0" alt="" /></td>
  </tr>
  <tr>
   <td><img name="aboutus_r9_c3" src="/images/aboutus_r9_c3.jpg" width="27" height="35" border="0" id="aboutus_r9_c3" alt="" /></td>
   <td><img name="aboutus_r9_c4" src="/images/aboutus_r9_c4.jpg" width="145" height="35" border="0" id="aboutus_r9_c4" alt="" /></td>
   <td colspan="3"><img name="aboutus_r9_c5" src="/images/aboutus_r9_c5.jpg" width="591" height="35" border="0" id="aboutus_r9_c5" alt="" /></td>
   <td><img name="aboutus_r9_c8" src="/images/aboutus_r9_c8.jpg" width="39" height="35" border="0" id="aboutus_r9_c8" alt="" /></td>
   <td><img name="aboutus_r9_c9" src="/images/aboutus_r9_c9.jpg" width="84" height="35" border="0" id="aboutus_r9_c9" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="35" border="0" alt="" /></td>
  </tr>
  <tr>
   <td rowspan="2"><img name="aboutus_r10_c3" src="/images/aboutus_r10_c3.jpg" width="27" height="42" border="0" id="aboutus_r10_c3" alt="" /></td>
   <td colspan="4" rowspan="2" class="zw"><%= raw Article.find_by_title("我们的使命").context%></td>
   <td rowspan="2"><img name="aboutus_r10_c8" src="/images/aboutus_r10_c8.jpg" width="39" height="42" border="0" id="aboutus_r10_c8" alt="" /></td>
   <td rowspan="2"><img name="aboutus_r10_c9" src="/images/aboutus_r10_c9.jpg" width="84" height="42" border="0" id="aboutus_r10_c9" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="23" border="0" alt="" /></td>
  </tr>
  <tr>
   <td rowspan="7"><img name="aboutus_r11_c1" src="/images/aboutus_r11_c1.jpg" width="98" height="216" border="0" id="aboutus_r11_c1" alt="" /></td>
   <td rowspan="7"><img name="aboutus_r11_c2" src="/images/aboutus_r11_c2.jpg" width="216" height="216" border="0" id="aboutus_r11_c2" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="19" border="0" alt="" /></td>
  </tr>
  <tr>
   <td><img name="aboutus_r12_c3" src="/images/aboutus_r12_c3.jpg" width="27" height="36" border="0" id="aboutus_r12_c3" alt="" /></td>
   <td><img name="aboutus_r12_c4" src="/images/aboutus_r12_c4.jpg" width="145" height="36" border="0" id="aboutus_r12_c4" alt="" /></td>
   <td colspan="3"><img name="aboutus_r12_c5" src="/images/aboutus_r12_c5.jpg" width="591" height="36" border="0" id="aboutus_r12_c5" alt="" /></td>
   <td><img name="aboutus_r12_c8" src="/images/aboutus_r12_c8.jpg" width="39" height="36" border="0" id="aboutus_r12_c8" alt="" /></td>
   <td><img name="aboutus_r12_c9" src="/images/aboutus_r12_c9.jpg" width="84" height="36" border="0" id="aboutus_r12_c9" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="36" border="0" alt="" /></td>
  </tr>
  <tr>
   <td><img name="aboutus_r13_c3" src="/images/aboutus_r13_c3.jpg" width="27" height="29" border="0" id="aboutus_r13_c3" alt="" /></td>
   <td colspan="4"><span class="zw"><%= raw Article.find_by_title("我们的信箱").context%></span><br /></td>
   <td><img name="aboutus_r13_c8" src="/images/aboutus_r13_c8.jpg" width="39" height="29" border="0" id="aboutus_r13_c8" alt="" /></td>
   <td><img name="aboutus_r13_c9" src="/images/aboutus_r13_c9.jpg" width="84" height="29" border="0" id="aboutus_r13_c9" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="29" border="0" alt="" /></td>
  </tr>
  <tr>
   <td><img name="aboutus_r14_c3" src="/images/aboutus_r14_c3.jpg" width="27" height="38" border="0" id="aboutus_r14_c3" alt="" /></td>
   <td><img name="aboutus_r14_c4" src="/images/aboutus_r14_c4.jpg" width="145" height="38" border="0" id="aboutus_r14_c4" alt="" /></td>
   <td rowspan="3"><img name="aboutus_r14_c5" src="/images/aboutus_r14_c5.jpg" width="338" height="108" border="0" id="aboutus_r14_c5" alt="" /></td>
   <td rowspan="3" colspan="2"><img name="aboutus_r14_c6" src="/images/aboutus_r14_c6.jpg" width="253" height="108" border="0" id="aboutus_r14_c6" alt="" /></td>
   <td><img name="aboutus_r14_c8" src="/images/aboutus_r14_c8.jpg" width="39" height="38" border="0" id="aboutus_r14_c8" alt="" /></td>
   <td><img name="aboutus_r14_c9" src="/images/aboutus_r14_c9.jpg" width="84" height="38" border="0" id="aboutus_r14_c9" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="38" border="0" alt="" /></td>
  </tr>
  <tr>
   <td><img name="aboutus_r15_c3" src="/images/aboutus_r15_c3.jpg" width="27" height="26" border="0" id="aboutus_r15_c3" alt="" /></td>
   <td class="zw"><%= raw Article.find_by_title("我们的咨询电话").context%></td>
   <td rowspan="3"><img name="aboutus_r15_c8" src="/images/aboutus_r15_c8.jpg" width="39" height="94" border="0" id="aboutus_r15_c8" alt="" /></td>
   <td rowspan="3"><img name="aboutus_r15_c9" src="/images/aboutus_r15_c9.jpg" width="84" height="94" border="0" id="aboutus_r15_c9" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="26" border="0" alt="" /></td>
  </tr>
  <tr>
   <td rowspan="2" colspan="2"><img name="aboutus_r16_c3" src="/images/aboutus_r16_c3.jpg" width="172" height="68" border="0" id="aboutus_r16_c3" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="44" border="0" alt="" /></td>
  </tr>
  <tr>
   <td colspan="3"><img name="aboutus_r17_c5" src="/images/aboutus_r17_c5.jpg" width="591" height="24" border="0" id="aboutus_r17_c5" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="24" border="0" alt="" /></td>
  </tr>
  <tr>
   <td colspan="9"><img name="aboutus_r18_c1" src="/images/aboutus_r18_c1.jpg" width="1200" height="32" border="0" id="aboutus_r18_c1" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="32" border="0" alt="" /></td>
  </tr>
  </table>

    <map name="aboutus_r2_c2Map" id="aboutus_r2_c2Map">
  <area shape="rect" coords="61,75,129,96" href="/homes/forums/<%=Forum.find_by_code("xinling").id%>">
  <area shape="rect" coords="57,118,130,139" href="/homes/forums/<%=Forum.find_by_code("huihua").id%>">
  <area shape="rect" coords="63,158,124,181" href="/homes/forums/<%=Forum.find_by_code("yule").id%>">
  <area shape="rect" coords="58,200,126,225" href="/homes/forums/<%=Forum.find_by_code("gushi").id%>">

</map>