<table width="1200" border="0" cellpadding="0" cellspacing="0">
<tr>
   <td><img src="images/spacer.gif" width="101" height="1" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="205" height="1" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="42" height="1" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="77" height="1" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="652" height="1" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="26" height="1" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="97" height="1" border="0" alt=""></td>
   <td><img src="images/spacer.gif" width="1" height="1" border="0" alt=""></td>
  </tr>
<tr>
   <td><img name="qingshang_r2_c1" src="/images/qingshang_r2_c1.jpg" width="101" height="7" border="0" id="qingshang_r2_c1" alt="" /></td>
   <td colspan="5"><img name="qingshang_r2_c2" src="/images/qingshang_r2_c2.jpg" width="1002" height="7" border="0" id="qingshang_r2_c2" alt="" /></td>
   <td><img name="qingshang_r2_c7" src="/images/qingshang_r2_c7.jpg" width="97" height="7" border="0" id="qingshang_r2_c7" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="7" border="0" alt="" /></td>
  </tr>
  <tr>
   <td rowspan="3"><img name="qingshang_r3_c1" src="/images/qingshang_r3_c1.jpg" width="101" height="280" border="0" id="qingshang_r3_c1" alt="" /></td>
   <td rowspan="3"><%=  render "common/left"%></td>
   <td colspan="2"><img name="qingshang_r3_c3" src="/images/qingshang_r3_c3.jpg" width="119" height="73" border="0" id="qingshang_r3_c3" alt="" /></td>
   <td colspan="2"><img name="qingshang_r3_c5" src="/images/qingshang_r3_c5.jpg" width="678" height="73" border="0" id="qingshang_r3_c5" alt="" /></td>
   <td><img name="qingshang_r3_c7" src="/images/qingshang_r3_c7.jpg" width="97" height="73" border="0" id="qingshang_r3_c7" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="73" border="0" alt="" /></td>
  </tr>
  <tr>
   <td colspan="4"><img name="qingshang_r4_c3" src="/images/qingshang_r4_c3.jpg" width="797" height="25" border="0" id="qingshang_r4_c3" alt="" /></td>
   <td><img name="qingshang_r4_c7" src="/images/qingshang_r4_c7.jpg" width="97" height="25" border="0" id="qingshang_r4_c7" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="25" border="0" alt="" /></td>
  </tr>
  <tr>
   <td rowspan="4"><img name="qingshang_r5_c3" src="/images/qingshang_r5_c3.jpg" width="42" height="824" border="0" id="qingshang_r5_c3" alt="" /></td>
   <td rowspan="4" colspan="2" bgcolor="#FEFEF7"><p class="zw">情商是近年来心理学家们提出的与智商相对应的概念。它主要是指人在情绪、情感、意志、耐挫等方面的品质。<br />
     美国心理学家认为，情商包括以下几个方面的内容： <br />
     一、是自我认知，只有认识自己，才能成为自己生活的主宰。 <br />
     二、是能妥善管理自己，即调控自己。 <br />
     三、是自我激励，它能够使人走出生命中的低潮，重新出发。 <br />
     四、是认知他人的情绪，这是与他人正常交往，实现顺利沟通的基础。 <br />
    五、是人际关系的管理，即领导和管理能力。 </p>
    <p>&nbsp;</p>
    <p class="biaoti12"><strong>情商训练：    </strong></p>
    <p class="zw"><strong>情商可以训练：</strong><br />
      情商既是一种能力，情商也是一种创造，情商更是一种技巧。既然是技巧就有规律可循，就能掌握，就能熟能生巧。因此，<br />
      只要我们多点勇气，多点机智，多点磨练，多点关注，我们都可以成为“情商高手”，营造一个有利于自己生活和生存的宽<br />
      松空间或环境，建立一个属于自己的社交圈，创造一个更好发挥自己才能的广阔空间。<br />
      <strong><br />
      情商应从小培养：</strong><br />
      心理学家们研究表明，情商水平高的人具有如下的特点：社交能力强，外向而愉快，不易陷入恐惧或伤感，对事业较投入，<br />
      为人正直，富于同情心，情感生活较丰富但不逾矩，无论是独处还是与许多人在一起时都能怡然自得。专家们还认为，一个<br />
      人是否具有较高的情商，和其童年时期的教育和培养有著密切的关系。因此，培养情商应从小开始。<br />
      <strong><br />
      情商教育的发展：</strong><br />
      美国心理学专家指出，情绪智力的培养应成为学校教育的组成部分，是面向全体学生，而不是专为问题学生设计的补救措施。<br />
      在学校情商教育方面，美国已经走在了世界的前面。其提升EQ的基础教育可追溯自1960年的情感教育运动。<br />
      成功的情商教育需要家庭的积极参与，特别是必须紧密配合儿童的成长阶段。根据萨洛维与梅耶的观点，情绪智力包含的能<br />
      力始于家庭中的父母与儿童的良好的交互作用。</p>
    <p>&nbsp;</p>
    <p class="biaoti12"><strong>家长常见误区    </strong></p>
    <p class="zw"><strong>外向就是情商高：</strong><br />
      外向的孩子一般具有较好的交往意愿，但是并不代表能够很好的与他人相处。外向的孩子领导欲、表现欲、行动欲更强，<br />
      所以往往不够关注细节，容易按照自己意愿与人相处<br />
      <strong><br />
      脾气好就是情商高：</strong><br />
      孩子乱发脾气固然不好，但如果是孩子心有不满情绪却压抑不表达，长此以往，孩子容易变得孤僻，不爱交往，生活消极。<br />
      所以，正确办法是让孩子用正确的途径及时表达自己的情绪，舒缓自己的情绪，这样有利于家长及时找到孩子情绪背后的问<br />
      题，帮助孩子成长<br />
    </p></td>
   <td rowspan="4"><img name="qingshang_r5_c6" src="/images/qingshang_r5_c6.jpg" width="26" height="824" border="0" id="qingshang_r5_c6" alt="" /></td>
   <td rowspan="4"><img name="qingshang_r5_c7" src="/images/qingshang_r5_c7.jpg" width="97" height="824" border="0" id="qingshang_r5_c7" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="182" border="0" alt="" /></td>
  </tr>
  <tr>
   <td rowspan="2"><img name="qingshang_r6_c1" src="/images/qingshang_r6_c1.jpg" width="101" height="180" border="0" id="qingshang_r6_c1" alt="" /></td>
   <td><img name="qingshang_r6_c2" src="/images/qingshang_r6_c2.jpg" width="205" height="101" border="0" id="qingshang_r6_c2" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="101" border="0" alt="" /></td>
  </tr>
  <tr>
   <td><img name="qingshang_r7_c2" src="/images/qingshang_r7_c2.jpg" width="205" height="79" border="0" id="qingshang_r7_c2" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="79" border="0" alt="" /></td>
  </tr>
  <tr>
   <td rowspan="2"><img name="qingshang_r8_c1" src="/images/qingshang_r8_c1.jpg" width="101" height="515" border="0" id="qingshang_r8_c1" alt="" /></td>
   <td rowspan="2"><img name="qingshang_r8_c2" src="/images/qingshang_r8_c2.jpg" width="205" height="515" border="0" id="qingshang_r8_c2" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="462" border="0" alt="" /></td>
  </tr>
  <tr>
   <td><img name="qingshang_r9_c3" src="/images/qingshang_r9_c3.jpg" width="42" height="53" border="0" id="qingshang_r9_c3" alt="" /></td>
   <td colspan="2"><img name="qingshang_r9_c4" src="/images/qingshang_r9_c4.jpg" width="729" height="53" border="0" id="qingshang_r9_c4" alt="" /></td>
   <td><img name="qingshang_r9_c6" src="/images/qingshang_r9_c6.jpg" width="26" height="53" border="0" id="qingshang_r9_c6" alt="" /></td>
   <td><img name="qingshang_r9_c7" src="/images/qingshang_r9_c7.jpg" width="97" height="53" border="0" id="qingshang_r9_c7" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="53" border="0" alt="" /></td>
  </tr>
</table>
<map name="kecheng_r2_c2Map" id="kecheng_r2_c2Map">
  <area shape="rect" coords="61,75,129,96" href="/homes/forums/<%=Forum.find_by_code("wenzhang").id%>">
  <area shape="rect" coords="57,118,130,139" href="/homes/forums/<%=Forum.find_by_code("xinling").id%>">
  <area shape="rect" coords="63,158,124,181" href="/homes/forums/<%=Forum.find_by_code("huihua").id%>">
  <area shape="rect" coords="58,200,126,225" href="/homes/forums/<%=Forum.find_by_code("yule").id%>">
  <area shape="rect" coords="60,242,130,265" href="/homes/forums/<%=Forum.find_by_code("gushi").id%>">
</map>