<table border="0" cellpadding="0" cellspacing="0" width="205">
<!-- fwtable fwsrc="qingshang_r3_c2.png" fwpage="页面 1" fwbase="yuerleft.jpg" fwstyle="Dreamweaver" fwdocid = "997694710" fwnested="0" -->
  <tbody><tr>
   <td><img src="/images/spacer.gif" width="16" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="189" height="1" border="0" alt=""></td>
   <td><img src="/images/spacer.gif" width="1" height="1" border="0" alt=""></td>
  </tr>

  <tr>
   <td colspan="2"><img name="yuerleft_r1_c1" src="/images/yuerleft_r1_c1.jpg" width="205" height="25" border="0" id="yuerleft_r1_c1" alt=""></td>
   <td><img src="/images/spacer.gif" width="1" height="25" border="0" alt=""></td>
  </tr>
  <tr>
   <td rowspan="6"><img name="yuerleft_r2_c1" src="/images/yuerleft_r2_c1.jpg" width="16" height="255" border="0" id="yuerleft_r2_c1" alt=""></td>
   <td><a href="/homes/forums/<%=Forum.find_by_code("ziliao").id%>" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image18','','/images/yuerleft_r2_c21.jpg',1)"><img src="/images/yuerleft_r2_c2.jpg" name="Image18" width="189" height="38" border="0" id="Image18"></a></td>
   <td><img src="/images/spacer.gif" width="1" height="38" border="0" alt=""></td>
  </tr>
  <tr>
   <td><a href="/homes/forums/<%=Forum.find_by_code("wenzhang").id%>" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image19','','/images/yuerleft_r3_c21.jpg',1)"><img src="/images/yuerleft_r3_c2.jpg" name="Image19" width="189" height="42" border="0" id="Image19"></a></td>
   <td><img src="/images/spacer.gif" width="1" height="42" border="0" alt=""></td>
  </tr>
  <tr>
   <td><a href="/homes/forums/<%=Forum.find_by_code("xinling").id%>" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image20','','/images/yuerleft_r4_c21.jpg',1)"><img src="/images/yuerleft_r4_c2.jpg" name="Image20" width="189" height="41" border="0" id="Image20"></a></td>
   <td><img src="/images/spacer.gif" width="1" height="41" border="0" alt=""></td>
  </tr>
  <tr>
   <td><a href="/homes/forums/<%=Forum.find_by_code("huihua").id%>" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image21','','/images/yuerleft_r5_c21.jpg',1)"><img src="/images/yuerleft_r5_c2.jpg" name="Image21" width="189" height="39" border="0" id="Image21"></a></td>
   <td><img src="/images/spacer.gif" width="1" height="39" border="0" alt=""></td>
  </tr>
  <tr>
   <td><a href="/homes/forums/<%=Forum.find_by_code("yule").id%>" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image22','','/images/yuerleft_r6_c21.jpg',1)"><img src="/images/yuerleft_r6_c2.jpg" name="Image22" width="189" height="43" border="0" id="Image22"></a></td>
   <td><img src="/images/spacer.gif" width="1" height="43" border="0" alt=""></td>
  </tr>
  <tr>
   <td><a href="/homes/forums/<%=Forum.find_by_code("gushi").id%>" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image23','','/images/yuerleft_r7_c21.jpg',1)"><img src="/images/yuerleft_r7_c2.jpg" name="Image23" width="189" height="52" border="0" id="Image23"></a></td>
   <td><img src="/images/spacer.gif" width="1" height="52" border="0" alt=""></td>
  </tr>
</tbody></table>